<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="aside">
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="control-sidebar-theme-demo-options-tab">
                <div><h4 class="control-sidebar-heading">Layout Options</h4>
                    <div class="form-group"><label class="control-sidebar-subheading"><input class="pull-right"
                                                                                             data-layout="fixed"
                                                                                             type="checkbox"> Fixed
                        layout</label>
                        <p>Activate the fixed layout. You can't use fixed and boxed layouts together</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input class="pull-right"
                                                                                             data-layout="layout-boxed"
                                                                                             type="checkbox"> Boxed
                        Layout</label>
                        <p>Activate the boxed layout</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input class="pull-right"
                                                                                             data-layout="sidebar-collapse"
                                                                                             type="checkbox"> Toggle
                        Sidebar</label>
                        <p>Toggle the left sidebar's state (open or collapse)</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input class="pull-right"
                                                                                             data-enable="expandOnHover"
                                                                                             type="checkbox"> Sidebar
                        Expand on Hover</label>
                        <p>Let the sidebar mini expand on hover</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input class="pull-right"
                                                                                             data-controlsidebar="control-sidebar-open"
                                                                                             type="checkbox"> Toggle
                        Right Sidebar Slide</label>
                        <p>Toggle between slide over content and push content effects</p></div>
                    <div class="form-group"><label class="control-sidebar-subheading"><input class="pull-right"
                                                                                             data-sidebarskin="toggle"
                                                                                             type="checkbox"> Toggle
                        Right Sidebar Skin</label>
                        <p>Toggle between dark and light skins for the right sidebar</p></div>
                    <h4 class="control-sidebar-heading">Skins</h4>
                    <ul class="list-unstyled clearfix">
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-blue"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
                                    class="bg-light-blue"
                                    style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Blue</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-black"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div class="clearfix" style="box-shadow: 0 0 2px rgba(0,0,0,0.1)"><span
                                    style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
                                    style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Black</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-purple"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span class="bg-purple-active"
                                       style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-purple"
                                                                             style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Purple</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-green"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span class="bg-green-active"
                                       style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-green"
                                                                            style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Green</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-red"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span class="bg-red-active"
                                       style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-red"
                                                                          style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Red</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-yellow"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span class="bg-yellow-active"
                                       style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-yellow"
                                                                             style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Yellow</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-blue-light"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
                                    class="bg-light-blue"
                                    style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Blue Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-black-light"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div class="clearfix" style="box-shadow: 0 0 2px rgba(0,0,0,0.1)"><span
                                    style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
                                    style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Black Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-purple-light"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span class="bg-purple-active"
                                       style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-purple"
                                                                             style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Purple Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-green-light"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span class="bg-green-active"
                                       style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-green"
                                                                            style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Green Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-red-light"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span class="bg-red-active"
                                       style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-red"
                                                                          style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Red Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a class="clearfix full-opacity-hover"
                                                                                   data-skin="skin-yellow-light"
                                                                                   href="javascript:void(0)"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)">
                            <div><span class="bg-yellow-active"
                                       style="display:block; width: 20%; float: left; height: 7px;"></span><span class="bg-yellow"
                                                                             style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Yellow Light</p></li>
                    </ul>
                </div>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
</div>
</body>
</html>
