<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div th:fragment="header">
    <header class="main-header">
        <!-- Logo -->
        <a class="logo" href="/admin">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>dmin</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Touchkiss</b>Admin</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <block th:each="menuGroup:${menu.menuGroups}">
                                        <li th:each="menuItem:${menuGroup.menuItems}">
                                            <a th:attr="href='/admin/'+${menuGroup.name}+'/'+${menuItem.name}+'/add'">
                                                <i class="fa fa-users text-aqua"></i><span
                                                    th:text="'添加'+${menuItem.showName}"></span>
                                            </a>
                                        </li>
                                    </block>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a data-toggle="control-sidebar" href="#"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
</body>
</html>
