<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="pageContent">
    <div class="page-content">
        <div class="layui-show" style="margin-top: 10px;">
            <div class="x-nav">
          <span class="layui-breadcrumb" style="visibility: visible;">
            <a href="/admin">首页</a>
          </span>
                <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
                   onclick="location.reload()" title="刷新">
                    <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>